*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
  position: relative;
  background-color: #fafafa;
}

.container {
  max-width: 37.5rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 144rem;
  }
}

.overlay {
  background: #141414;
  opacity: 0.75;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.4s;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.main {
  margin-bottom: 9.4rem;
  z-index: 1;
  overflow: hidden;
}
@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    align-items: end;
    justify-content: space-between;
    margin: 0 auto 13rem;
    max-width: 114.5rem;
  }
}
.main__hero {
  margin-bottom: 4.775rem;
}
@media (min-width: 768px) {
  .main__hero {
    grid-column: 2/3;
    margin: 0;
  }
}
.main__hero--img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .main__hero--img {
    max-width: 48rem;
  }
}
.main__content {
  text-align: center;
}
@media (min-width: 768px) {
  .main__content {
    grid-row: 1/2;
    text-align: left;
    max-width: 53rem;
  }
}
.main__content--headline {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.2rem;
  color: #141414;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .main__content--headline {
    font-size: 8rem;
    line-height: 8rem;
    letter-spacing: -1.11111px;
    margin-bottom: 4.8rem;
  }
}
.main__content--text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #696969;
  margin: 0 1.6rem 2.4rem;
}
@media (min-width: 768px) {
  .main__content--text {
    margin: 0 0 5.1rem 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
    max-width: 44.5rem;
  }
}
.main__content--cta {
  height: 4.8rem;
  width: 13.6rem;
  background-color: #141414;
  border-radius: 1.5rem;
  display: grid;
  place-content: center;
  margin: 0 auto 4.8rem;
  cursor: pointer;
  color: #fafafa;
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .main__content--cta {
    height: 5.6rem;
    width: 16.3rem;
  }
}
.main__content--cta:hover {
  background-color: white;
  color: #141414;
  border: 1px solid #141414;
}
@media (min-width: 768px) {
  .main__content--cta {
    margin: 0 0 10.8rem;
  }
}
.main__content--cta-text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: -0.222222px;
}
@media (min-width: 768px) {
  .main__content--cta-text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -0.25px;
  }
}
.main__content--clients {
  display: grid;
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
  justify-content: space-around;
}
@media (min-width: 768px) {
  .main__content--clients {
    justify-content: start;
    gap: 4rem;
  }
}

.databiz-icon {
  height: 1.436rem;
}
@media (min-width: 768px) {
  .databiz-icon {
    height: 2rem;
  }
}

.audiophile-icon {
  height: 2.6rem;
}
@media (min-width: 768px) {
  .audiophile-icon {
    height: 3.59rem;
  }
}

.meet-icon {
  height: 1.436rem;
}
@media (min-width: 768px) {
  .meet-icon {
    height: 2rem;
  }
}

.maker-icon {
  height: 1.723rem;
}
@media (min-width: 768px) {
  .maker-icon {
    height: 2.4rem;
  }
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #696969;
  z-index: 1;
}
@media (min-width: 768px) {
  .topnav {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
.topnav__container {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  padding: 1.6rem 1.6rem 2.4rem;
}
@media (min-width: 768px) {
  .topnav__container {
    justify-content: start;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 6rem;
    padding: 2.1rem 4rem 6.7rem;
  }
}
@media (min-width: 768px) {
  .topnav__logo {
    display: grid;
    align-items: center;
  }
}
.topnav__icon {
  position: relative;
  z-index: 2;
  cursor: pointer;
  height: 2.4rem;
}
@media (min-width: 768px) {
  .topnav__icon {
    display: none;
  }
}
.topnav__menu {
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .topnav__menu {
    display: grid;
    grid-template-columns: repeat(4, -webkit-max-content);
    grid-template-columns: repeat(4, max-content);
    align-items: center;
    gap: 4rem;
    margin: 0;
  }
}
.topnav__menu--container {
  background-color: white;
  height: 100vh;
  width: 24rem;
  position: fixed;
  top: 0;
  right: -24rem;
  padding: 7.8rem 0 0 2.4rem;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
@media (min-width: 768px) {
  .topnav__menu--container {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    right: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
.topnav__menu--item {
  cursor: pointer;
  margin-bottom: 1.6rem;
}
.topnav__menu--item:hover {
  color: #141414;
}
@media (min-width: 768px) {
  .topnav__menu--item {
    margin: 0;
  }
}
.topnav__menu--features {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 1.7rem;
  position: relative;
  stroke: #696969;
}
.topnav__menu--features:hover {
  stroke: #141414;
}
.topnav__menu--features-arrow-img {
  transition: all 0.2s;
}
.topnav__menu--features-menu {
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  padding-left: 2.4rem;
  display: none;
}
@media (min-width: 768px) {
  .topnav__menu--features-menu {
    position: absolute;
    margin: 0;
    padding: 2.4rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.149126);
    top: 5rem;
    left: -6rem;
  }
}
.topnav__menu--features-menu-item {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 1.6rem;
  align-content: center;
  cursor: pointer;
}
.topnav__menu--features-menu-item-icon {
  display: grid;
  align-items: center;
}
.topnav__menu--company {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 1.7rem;
  stroke: #696969;
}
.topnav__menu--company:hover {
  stroke: #141414;
}
.topnav__menu--company-arrow-img {
  transition: all 0.2s;
}
.topnav__menu--company-menu {
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  padding-left: 2.4rem;
  display: none;
}
@media (min-width: 768px) {
  .topnav__menu--company-menu {
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.149126);
    top: 5rem;
    padding: 2.4rem;
  }
}
.topnav__menu--company-menu-item {
  cursor: pointer;
}
.topnav__menu--sign {
  text-align: center;
  margin-left: -2.4rem;
}
@media (min-width: 768px) {
  .topnav__menu--sign {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    gap: 4rem;
    align-items: center;
  }
}
.topnav__menu--sign-register {
  height: 4.2rem;
  width: 19.5rem;
  border: 1.5px solid #696969;
  border-radius: 1.4rem;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.topnav__menu--sign-register:hover {
  border: 1.5px solid #141414;
}
@media (min-width: 768px) {
  .topnav__menu--sign-register {
    width: 10.4rem;
  }
}

.showNav {
  right: 0;
}

.arrow-open {
  transform: rotate(180deg);
}

.show {
  display: grid;
}

.hide {
  display: none;
}/*# sourceMappingURL=App.css.map */