*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
}

.container {
  max-width: 37.5rem;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.main {
  margin-bottom: 9.4rem;
}
.main__hero {
  margin-bottom: 4.775rem;
}
.main__hero--img {
  max-width: 100%;
}
.main__content {
  text-align: center;
}
.main__content--headline {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.2rem;
  color: #141414;
  margin-bottom: 1.6rem;
}
.main__content--text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #696969;
  margin: 0 1.6rem 2.4rem;
}
.main__content--cta {
  height: 4.8rem;
  width: 13.6rem;
  background-color: #141414;
  border-radius: 1.5rem;
  display: grid;
  place-content: center;
  margin: 0 auto 4.8rem;
}
.main__content--cta-text {
  color: #fafafa;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: -0.222222px;
}
.main__content--clients {
  display: grid;
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
  justify-content: space-around;
}

.databiz-icon {
  height: 1.436rem;
}

.audiophile-icon {
  height: 2.6rem;
}

.meet-icon {
  height: 1.436rem;
}

.maker-icon {
  height: 1.723rem;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #696969;
}
.topnav__container {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  margin: 1.6rem 1.6rem 2.4rem;
}
.topnav__icon {
  z-index: 1;
  position: relative;
  cursor: pointer;
  height: 2.4rem;
}
.topnav__menu {
  margin-bottom: 3.2rem;
}
.topnav__menu--container {
  background-color: white;
  height: 100vh;
  width: 24rem;
  position: fixed;
  top: 0;
  right: -24rem;
  padding: 7.8rem 0 0 2.4rem;
  transition: all 0.4s ease-in-out;
}
.topnav__menu--item {
  cursor: pointer;
  margin-bottom: 1.6rem;
}
.topnav__menu--features {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 1.7rem;
}
.topnav__menu--features-arrow-img {
  transition: all 0.2s;
}
.topnav__menu--features-menu {
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  padding-left: 2.4rem;
  display: none;
}
.topnav__menu--features-menu-item {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 1.6rem;
  align-content: center;
  cursor: pointer;
}
.topnav__menu--features-menu-item-icon {
  display: grid;
  align-items: center;
}
.topnav__menu--company {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 1.7rem;
}
.topnav__menu--company-arrow-img {
  transition: all 0.2s;
}
.topnav__menu--company-menu {
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  padding-left: 2.4rem;
  display: none;
}
.topnav__menu--company-menu-item {
  cursor: pointer;
}
.topnav__menu--sign {
  text-align: center;
  margin-left: -2.4rem;
}
.topnav__menu--sign-register {
  height: 4.2rem;
  width: 19.5rem;
  border: 1.5px solid #696969;
  border-radius: 1.4rem;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.showNav {
  right: 0;
}

.arrow-open {
  transform: rotate(180deg);
}

.show {
  display: grid;
}/*# sourceMappingURL=App.css.map */